

html {
	font-family: '黑体', Arial; 
	font-size: 5.333333333vw;
	background: #fff;
	color: #34495e;
}

body {
	font-size: .65rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

a{
	text-decoration: none; 
	color: inherit;
}

input{
	outline: none;
}

@media screen and (min-width: 767px) {
    html {
        font-size: 28px;
    }
}